# IntelliJ / Android Studio
*.iml
.idea/
.gradle
/local.properties

# OS
.DS_Store

# Build outputs
/build
/captures
.externalNativeBuild
.cxx

# APKs (ignore all except submission APK)
*.apk
!release/*.apk
